<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css">
   
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Soumya Ranjan Pati.It uses data fom mapbox.com and weatherstack.com</p>
    <img class="portrait" src="/img/me.jpeg" alt="">

    </div>
    
    {{>footer}}

</body>





</html>